<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*qgo4_MwETtxdspEqt12sNA.png"
      alt=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus
        lobortis felis ac laoreet. Quisque mattis convallis enim ut ullamcorper.
        Phasellus dolor erat, dictum nec nunc id, egestas malesuada libero.
        Morbi iaculis placerat semper. Duis a laoreet sapien. Duis non est
        pulvinar, imperdiet mauris et, egestas ante. Aenean eget leo volutpat,
        efficitur turpis a, commodo nisi.
      </a>
    </p>
  </div>
</div>
