<div class="container__menu-bar">
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/dhi-carvalho-dev/">
        <fa-icon [icon]="faLinkedin"></fa-icon>Linkedin
      </a>
    </li>
    <li>
      <a href="https://github.com/Dhi-Carvalho-DEV">
        <fa-icon [icon]="faGithub"></fa-icon>Github
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dhi.carvalho.dev/">
        <fa-icon [icon]="faInstagram"></fa-icon>Instagram
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dhi.carvalho.dev/">
        <fa-icon [icon]="faTwitter"></fa-icon>Twitter
      </a>
    </li>
  </ul>
</div>
