<div class="container__menu-bar">
  <ul>
    <li>
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <a href="https://www.linkedin.com/in/dhi-carvalho-dev/">Linkedin</a>
    </li>
    <li>
      <fa-icon [icon]="faGithub"></fa-icon>
      <a href="https://github.com/Dhi-Carvalho-DEV">Github</a>
    </li>
    <li>
      <fa-icon [icon]="faInstagram"></fa-icon>
      <a href="https://www.instagram.com/dhi.carvalho.dev/">Instagram</a>
    </li>
    <li>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <a href="https://www.instagram.com/dhi.carvalho.dev/">Twitter</a>
    </li>
  </ul>
</div>
