.container__menu-bar {
  align-items: center;
}

.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-weight: bold;
}

.container__menu-bar > ul > li {
  list-style: none;
}

.container__menu-bar > ul > li > a {
  font-size: 20px;
}

.container__menu-bar > ul > li > a > fa-icon {
  margin-right: 10px;
}